[Unit]
Description=Phony Bluetooth Headset Service
After=bluetooth.service ofono.service pulseaudio.service
Wants=bluetooth.service ofono.service pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/local/lib/phony/scripts/phony
RuntimeDirectory=phony
Group=bluetooth
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target