[Unit]
Description=Ol' time hand crank telephone bluetooth hands-free headset from yesteryear
After=bluetooth.service ofono.service pulseaudio.service
Wants=bluetooth.service ofono.service pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/local/bin/cranky
RuntimeDirectory=cranky
Group=bluetooth
Restart=on-abnormal
RestartSec=10

[Install]
WantedBy=multi-user.target
