[Unit]
Description=PulseAudio Daemon
After=bluetooth.service ofono.service
Wants=bluetooth.service ofono.service

[Service]
Type=simple
PrivateTmp=true
ExecStart=/usr/local/bin/pulseaudio --system